.nav {
  display: flex;
  max-width: 1400px;
  width: 80%;
  margin: auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.nav h2 a {
  color: #149eca;
  font-size: 1.5em;
  font-weight: bold;
}

.navItems {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  list-style-type: none;
}

.loginSignupBtn {
  display: flex;
  gap: 2rem;
}
.loginSignupBtn a {
  border-radius: 10px;
  padding: 0.3em 1.2em;
  background-color: #0677a1;
}

.impBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.blogUtils {
  font-size: 1.1rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.blogUtils li a:hover {
  text-decoration: underline;
  transition: 0.35s;
}

.greet {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 20px;
}

@media screen and (min-width: 700px) {
  .mobileMenuIcon {
    display: none;
  }
}


@media screen and (max-width: 700px) {
  .navItems {
    display: none;
  }

  .mobileMenuIcon {
    cursor: pointer;
  }

  .loginSignupBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-size: 1.2rem;
  }

  .navItems.open .loginSignupBtn li a:hover {
    transition: 0.25s;
    text-decoration: underline;
  }

  .hamburgerMenu {
    width: 50px;
    height: 45px;
    margin-top: 15px;
  }

  .navItems.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10vh;
    background-color: #2d394f;
    position: absolute;
    top: 70px;
    right: 20px;
    padding-top: 10px;
    transition: 0.45s ease;
    border-radius: 10px;
  }

  .navItems.open li {
    padding-bottom: 10px;
  }

  .navItems.open li a:hover {
    transition: 0.25s;
    text-decoration: underline;
  }
  .navItems.open li a {
    color: #fff;
    text-decoration: none;
  }

  .greet {
    text-align: center;
  }
}
