.container {
  max-width: 1400px;
  width: 77%;
  margin: 2rem auto;
  background-color: #2a2f3b;
  border-radius: 10px;
  padding: 5px 20px;
}
.content {
  margin-bottom: 20px;
}

.catBtn {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin: 20px auto;
  font-size: 1.1em;
}

.postBtn {
  width: 100%;
  border-radius: 5px;
  padding: 0.5em 1.2em;
  background-color: #0677a1;
  text-align: center;
}
.postBtn:hover {
  background-color: #2b90b5;
}

.deleteBtn {
  width: 100%;
  padding: 0.5em 1.2em;
}

@media screen and (max-width: 700px) {
  .container {
    width: 85%;
  }
}
