.container {
  max-width: 1400px;
  width: 77%;
  margin: 2rem auto;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding: 5px 20px;
}
.content {
  margin-bottom: 20px;
}

.catBtn {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin: 20px auto;
  font-size: 1.1em;
  border-radius: 10px;
}

.postBtn {
  width: 100%;
  border-radius: 10px;
  padding: 0.5em 1.2em;
  background-color: #0677a1;
  text-align: center;
}
.postBtn:hover {
  text-decoration: underline;
}

.deleteBtn {
  width: 100%;
  padding: 0.5em 1.2em;
}
